body {
    display:block;
    height:100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    position:relative;
    overflow:hidden;
}


#footer{
    position:relative;
    bottom:0;
    width:100%;
    text-align:center;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn .button{
    color:white;
}

.col .index{
    max-width:1200px;
}
.col .details{
    width:500px;
    margin: 10px;
}

.active .nav-link.tab-link {
    background-image:none;
    background-color: whitesmoke;
    color: #333;
    border-bottom-color: whitesmoke;
}
.nav-link.tab-link {
    border: solid 1px grey;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), color-stop(50%, #999), to(#8f8f8f));
    background-image: linear-gradient(#bfbfbf, #999 50%, #8f8f8f);
    background-repeat: no-repeat;
    color: lightgray;
}
.nav-link.tab-link:hover {
    color:white;
}

.tab-content .tab-pane {
    border: solid 1px black;
    border-top: 0;
    border-color: black;
    min-height: 500px;
    background-color: whitesmoke;
}
