body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn .button{
    color:white;
}

.col .index{
    max-width:1200px;
}
.col .details{
    width:500px;
    margin: 10px;
}

.details .card {
    width: 30rem;
    height: 3rem;
    margin: 20px;
}

.active .nav-link.tab-link{
    background-color: whitesmoke;
    color:blue;
    border-bottom-color:whitesmoke;
}
.nav-link.tab-link {
    border: solid 1px grey;
    background-color: darkgrey;
}

.tab-link{
    background-color:darkgrey;
    color:white;
}

.tab-content .tab-pane {
    border: solid 1px black;
    border-top: 0;
    border-color: black;
    min-height: 500px;
    background-color: whitesmoke;
}

#footer{
    position:absolute;
    bottom:0;
    width:90%;
    height: 2.5rem;
    margin:20px;
    text-align:center;
}
