body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.nav-link.tab-link {
    border: solid 1px grey;
    background-color: darkgrey;
}

.nav-link.tab-link.active {
    border-bottom-color: whitesmoke;
    background-color: whitesmoke;
}

.nav-link.active .tab-link {
    background-color: whitesmoke;
    color: black;
}

.tab-link{
    background-color:darkgrey;
    color:white;
}



.page-content .tab-pane {
    border: solid 1px black;
    border-top: 0;
    border-color: black;
    min-height: 250px;
    background-color: whitesmoke;
}


