@model IEnumerable<AddressBook.Models.Person>


@{
    ViewBag.Title = "Address Book";
    var tabID = "";
}

<h2>Address Book Index</h2>

<button type="button" class="btn-secondary">  
    @Html.ActionLink("Create New", "Create", new {@class = "btn-secondary"})
</button>


<!--    This will render a bootstrap tab ribbon with tabs for each letter from a-z  -->
<ul class="nav nav-tabs nav-fill" style="margin-top:20px" role="tablist" id="address-tabs">

    @for (char c = 'A'; c <= 'Z'; c++)  //  Render tabs from every letter
    {
        tabID = Char.ToString(c);   //  Needs to be string for controller to check for NULLorEmpty
       
        //  selected tab need to be have the active class applied
        <li class="nav-item">
            @Html.ActionLink(tabID, "Index", new { TabID = tabID }, 
            new { @class = "nav-link tab-link" })
        </li>

    }
</ul>

<!-- Tab Pane Content -->
<div class="tab-content page-content">
    <div class="tab-pane show active" role="tabpanel">
        @Html.Partial("AddressTable", Model);
    </div>
</div>
