@model IEnumerable<AddressBook.Models.Person>

@{
    ViewBag.Title = "Search";
}


<h2>Search</h2>

@using (Html.BeginForm())
{   //Render Search Box.  May include a dropdown menu to select other search fields
    // May put on the Nav-Bar later and have submmit action open this view as a search results page
    <p>
        Search for Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
@Html.Partial("AddressTable", Model)
