@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This address book app allows for creating, editing and removing address records, renders the address list in an alphabetized tabbed index<br />
    and enables record searching</p>
